<% if current_user %>


<% c = @city %>
<h1 class="font-weight-light" align="center"><%= c.name %>, <%= c.zip_code %></h1><br>


<% @user.each do |user| %>
<%user.gossips.each do |gossip|%>

<a href="<%=gossip_path(gossip.id)%>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-dark font-weight-bold"><%= gossip.title %></h5>
    </div>
    <p class="mb-1 text-muted"><%= gossip.user.first_name %></p>
    <p class="mb-1 text-muted font-weight-light small"><%= gossip.likes.count %> like(s), <%= gossip.comments.count %> comment(s)</p>

    <% pre_like = gossip.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <a class="font-weight-light text-danger small" href="<%=gossip_like_path(gossip.id, pre_like)%> " data-method="DELETE">Unlike</a>
    <% else %>
      <a class="font-weight-light text-success small" href="<%=gossip_likes_path(gossip.id)%> " data-method="POST">Like</a>
    <% end %>
  </a>

  <% end %>
  <% end %>
</div>
<br>
<br>
<br>

<% else %>



<% c = @city %>
<h1 class="font-weight-light" align="center"><%= c.name %>, <%= c.zip_code %></h1><br>


<% @user.each do |user| %>
<%user.gossips.each do |gossip|%>

<a href="<%=gossip_path(gossip.id)%>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-dark font-weight-bold"><%= gossip.title %></h5>
    </div>
    <p class="mb-1 text-muted"><%= gossip.user.first_name %></p>
    <p class="mb-1 text-muted font-weight-light small"><%= gossip.likes.count %> like(s), <%= gossip.comments.count %> comment(s)</p>
  </a>

  <% end %>
  <% end %>
</div>
<br>
<br>
<br>

<% end %>
