<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-success">
    <div class="notice"><strong><%= flash[:notice] %></strong>
     Thanks !</div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-dismissible alert-danger">
    <div class="notice"><strong><%= flash[:danger] %></strong>
     </div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

<h1 class="font-weight-light" align="center">Here's the tea !</h1><br>

<div class="list-group">

<% @gossip.reverse.each do |gossip| %>

<a href="<%=gossip_path(gossip.id)%>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-dark font-weight-bold"><%= gossip.title %></h5>
    </div>
    <p class="mb-1 text-muted"><%= gossip.user.first_name %></p>
    <p class="mb-1 text-muted font-weight-light small"><%= gossip.comments.count %> comment(s)</p>
  </a>

  <% end %>
</div>
<br>
<br>
<br>
