<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-danger">
    <div class="notice"><strong><%= flash[:notice] %></strong>
     </div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

<h1 class="font-weight-light" align="center">Do you have something to tell us ?</h1><br>




<div class="container col-md-8 order-md-1">
  <%= form_tag url_for(action: 'create'), method: "post" do %>


     <div class="form-group">
           <%= label_tag 'Title' %>
           <%= text_field_tag 'title', @title, class: "form-control "  %>
     </div>

     <div class="form">
           <%= label_tag 'Content' %>
           <%= text_area_tag 'content', @content, class: "form-control" %>
     </div><br>

     <div class="form-group">
           <%= submit_tag "Create gossip", class: 'btn btn-secondary btn-lg btn-submit' %>
     </div>

     <% end %>
     </div>
