<h1 class="font-weight-light" align="center">Nouveau gossip</h1>
<p></p>




<div class="container col-md-8 order-md-1">
  <%= form_tag url_for(action: 'create'), method: "post" do %>


     <div class="form-group">
           <%= label_tag 'Title' %>
           <%= text_field_tag 'title', @title, class: "form-control"  %>
     </div>

     <div class="form">
           <%= label_tag 'Content' %>
           <%= text_area_tag 'content', @content, class: "form-control" %>
     </div><br>

     <div class="form-group">
           <%= submit_tag "Create gossip", class: 'btn btn-default btn-lg btn-submit' %>
     </div>

     <% end %>
