<% u = @user %>
<h1 class="font-weight-light" align="center"><%= u.first_name %> <%= u.last_name %></h1><br>




<div class="card" align="center">
<div class="card-body col-sm-10">
  <blockquote class="blockquote mb-0 text-left">
    <a class="font-weight-bold text-dark" href="<%=city_path(u.city.id)%>"><%= u.city.name %></a>
    <p class="text-muted"><%= u.email %><br>
    <%= u.age %> years old</p>
    <p class="font-italic font-weight-light">"<%= u.description %>"</p>
  </blockquote>
</div>
</div>
